/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emory[Cc]aptures/
/[Rr]ecordings/
/[Aa]ssets/AssetStoreTools*

/[Aa]ssets/AddressableAssetsData/*/*.bin*

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.vs/
*.suo
*.user
*.userprefs
*.sln.docstates

.idea/
*.iml
.idea/workspace.xml
.idea/shelf/

.vscode/

*.apk
*.aab
*.unitypackage
*.app/
*.exe
*.dll.mdb
*.pdb
*.dmg
*.pkg
*.jar
*.webmanifest

*.blend1
*.blend2
*.spp.lock
~*.psd
~*.psb
*.kra~
*.krz~

sysinfo.txt
crashlytics-build.properties